<!-- Delte Employee Modal -->
<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Delete Employee</h4>
        <button type="button" mat-icon-button (click)="hadleEvent()"> <mat-icon>close</mat-icon>  </button>
</div>
<div class="modal-body">
    <p>

        <!-- Dynamic Employee Name Display -->
        <strong *ngIf="employee">Are you sure you want to delete <span class="text-primary">{{employee.name}}</span>
            ?</strong>
    </p>
</div>
<div class="modal-footer">

    <!-- Modal Actions -->
    <button type="button" mat-raised-button (click)="hadleEvent()" class="btn btn-secondary"
        data-bs-dismiss="modal">
        <mat-icon>close</mat-icon>
        Close
    </button>
    <button type="button" mat-raised-button color="warn" (click)="hadleEvent(true)" data-bs-dismiss="modal"
        class="btn btn-primary">
        <mat-icon>delete</mat-icon>
        Delete
    </button>
</div>